<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor='let lista of _listaDeseosSerivice.listas; let i=index'>

    <ion-item color='dark' (click)='detallarLista(lista,i)'>
      {{ lista.nombre }}
      <ion-note item-right>
        {{ lista.items.length }} items
      </ion-note>
    </ion-item>
    <hr>

    <ion-list>
      <ion-item (click)='detallarLista(lista,i)' *ngFor='let item of lista.items | slice:0:2'>
        <ion-icon *ngIf='!item.completado' ios="ios-square-outline" md="md-square-outline"></ion-icon>
        <ion-icon *ngIf='item.completado' ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
        {{item.nombre}}
      </ion-item>

      <ion-item class='text-center' *ngIf='lista.items.length>2'>
        <ion-icon color='primary' ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>


      </ion-item>

    </ion-list>
  </ion-card>


  <ion-fab right bottom>
    <button ion-fab color="primary" (click)='irAgregar()'>
        <ion-icon ios="ion-add" md='md-add'></ion-icon>
      </button>
  </ion-fab>

</ion-content>